In [6]:
import matplotlib.pyplot as plt
import pandas as pd

import seaborn as sns

In [7]:
dt = pd.read_csv('https://stepik.org/media/attachments/course/4852/titanic.csv')

In [8]:
dt.shape

(891, 12)

In [9]:
dt.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object